{% extends "layouts/main.html" %}
{% block content %}

<section class="about">

  <div class="container pt-5">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="display-1">About us</h1>
        <p class="lead">Orange Petroleum originated within the Orange Group of companies as a direct result of Southern Africa's increasing fuel import ratio due to
          refinery shutdowns. The founders of Orange Pallet inc and <a href="https://blaqtask.pythonanywhere.com/" class="text-warning fw-bold" target="_blank">Orange Logistics</a> have a track record of over twenty years in partnering with
          major blue chip companies and addressing its customers needs in a continuously changing landscape. </p>
        <h3 class="mt-5">Values & Culture </h3>
        <p class="lead mb-5">At Orange we are committed to providing high-quality products and transport services at a better price than the competition.</p>
        <a href="{{ url_for('main.contact') }}" class="btn btn-lg btn-warning">Get in touch</a> 
      </div>
      <div class="col-lg-6">
        <img src="{{ url_for('static', filename='css/img/orange_tanker.png') }}" width="95%" alt="">
      </div>
    </div>
  </div>

</section>

{% endblock content %}
