{% extends "layouts/main.html" %}
{% block content %}

<section class="contact">

  <div class="container pt-5">
    <h1 class="display-1">Contact us</h1>
    <p class="lead mb-5">Ways to get in touch with the company, including phone numbers, email addresses, and a contact form.
      Provide the physical address of the company's office and in time also the storage and distribution centers.
      Call-out box to encourage users to get in touch with the company with any questions or concerns they may have.
    </p>

    <div class="row">
      <div class="col-md-6">
        <h3>Visit our offices</h3>
        <p class="lead">Third Floor, Ballyoaks Office Park Silky Oak House, 35 Ballyclare Dr, Bryanston, Johannesburg, 2191</p>
        <a href="https://www.google.com/maps/dir//ORANGE+PALLET+INC+ORANGE+LOGISTICS+(PTY)+LTD,+Third+Floor,+Ballyoaks+Office+Park+Silky+Oak+House,+35+Ballyclare+Dr,+Bryanston,+Johannesburg,+2191,+South+Africa/@-26.0699526,28.025922,16z/data=!4m9!4m8!1m0!1m5!1m1!1s0x1e95737775753547:0x847a82390c7acf00!2m2!1d28.0320775!2d-26.0732608!3e0" class="btn btn-outline-warning mb-3" target="_blank">Get Directions</a>
        
        <h3>Give us a call</h3>
        <p class="lead"><strong>Phone: </strong>+27 71 531 2331 </br> <strong>Cobus Vermaak - Managing Director</strong> </p>
        
        <h3>You want to write instead?</h3>
        <p class="lead"><strong>Email: </strong>cobus@orangepetroleum.co.za</p>
      </div>
      <div class="col-md-6">
        <form action="">
          <div class="form-floating mb-3 text-dark">
            <input type="text" class="form-control" id="name" placeholder="Name" autocomplete="off">
            <label for="name">Name</label>
          </div>
          <div class="form-floating mb-3 text-dark">
            <input type="email" class="form-control" id="email" placeholder="Email" autocomplete="off">
            <label for="email">Email</label>
          </div>
          <div class="form-floating mb-3 text-dark">
            <textarea class="form-control" placeholder="Message" id="message" style="height: 8rem;"></textarea>
            <label for="message">Message</label>
          </div>
          <button type="submit" class="btn btn-warning btn-lg mb-3">Submit</button>
        </form>
      </div>
    </div>
  </div>

</section>

{% endblock content %}
