{% extends "layouts/main.html" %}
{% block content %}

<section class="home">

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-6 pt-5">
        
        <div class="card mt-5">
          <div class="card-body py-5">
            <h1 class="display-2 mb-3">Orange Petroleum</h1>
            <p class="lead mb-5">Orange Petroleum provides mines, transporters and wholesalers with quality products at a better price. 
              The business leverages from partnerships in Mozambique and Zambia stemming from decades of entrepreneurship in logistics. 
              With its low-cost base and international trading connections we offers quality products at a better price by competing with major fuel suppliers in Southern Africa.</p>
            <a href="" class="btn btn-lg btn-warning">View our products & services</a>
          </div>
        </div>
              
      </div>
    </div>
  </div>

</section>

{% endblock content %}
