{% extends "layouts/main.html" %}
{% block content %}

<section class="home">

  <div id="landingPageCarousel" class="carousel slide" data-bs-ride="carousel">
    
    <div class="card mt-5 text-center d-none d-md-block">
      <div class="card-body pb-5">
        <h1 class="mb-3">Orange Petroleum</h1>
        <p class="mb-3">Orange Petroleum provides mines, transporters and wholesalers with quality products at a better price. 
          The business leverages from partnerships in Mozambique and Zambia stemming from decades of entrepreneurship in logistics. 
          With its low-cost base and international trading connections we offers quality products at a better price by competing with major fuel suppliers in Southern Africa.</p>
        <a href="" class="btn btn-lg btn-warning">View our products & services</a>
      </div>
    </div>

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#landingPageCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide one"></button>
      <button type="button" data-bs-target="#landingPageCarousel" data-bs-slide-to="1" aria-label="Slide two"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active"></div>
      <div class="carousel-item"></div>
    </div>

  </div>

</section>

{% endblock content %}
