{% extends "layouts/main.html" %}
{% block content %}

<section class="contact">

  <div class="container pt-5">
    <h1 class="display-1">Partnerships</h1>
    <div class="row">
      <div class="col-md-6">
        <p class="lead">We don't want to give away our competitive edge right now but in time we should provide an overview of the nature of the partnerships and
          explain how they benefit the company's customers (economies of scale and transport solutions on the corridor).
          This page should also highlight the strengths of each partner and how their expertise helps the company to provide high-quality products and
          services.
        </p>
        <a href="{{ url_for('main.contact') }}" class="btn btn-lg btn-warning">Get in touch</a>
      </div>
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='css/img/africa.svg') }}" alt="map" width="100%">
      </div>
    </div>
    
  </div>

</section>

{% endblock content %}
