* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper 
{
  position: absolute;
  width: 100%;
  height: 100%;
}

main 
{
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 146px;
}

header
{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}

header .navbar 
{
  background-color: #FFF;
}

header .navbar .nav-link 
{
  color: #222;
  font-size: 1.75rem;
  margin-left: 2.5rem;
  font-weight: bold;
}

header .navbar .nav-link:hover 
{
  color: #FFA500;
}

.navbar-toggler, .navbar-toggler-icon 
{
  color: #FFA500;
}

section 
{
  position: inherit;
  width: 100%;
  min-height: 100%;
  padding-bottom: 2rem;
  background-color: #EFEFEF;
}

.partnerships svg 
{
  display: block;
  width: 100%;
  cursor: pointer;
}

.partnerships svg path:hover
{
  fill: orange;
} 

.home .carousel 
{
  position: absolute;
  width: 100%;
  height: 100%;
}

.home .carousel .card
{
  position: fixed;
  z-index: 100;
  background-color: rgb(0, 0, 0, .8);
  color: #EEE;
  width: 450px;
  right: 10rem;
  top: 50%;
  transform: translateY(-50%);
}

.home .carousel-inner 
{
  position: relative;
  height: 100%;
}

.home .carousel-item 
{
  position: inherit;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(0, 0, 0, .2);
  background-blend-mode: overlay;
  font-weight: 500;
}

.home .carousel-item:nth-child(1) {
  background-image: url('img/bg1.png');
} 

.home .carousel-item:nth-child(2) {
  background-image: url('img/bg2.png');
} 